<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <title>在学习中成长</title>
    <style>
        body {
            margin: 0;
        }

        .footer {
            width: 100%;
            color: #fff;
            background-color: #000;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="footer">
    好好学习，天天向上！
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1273601769'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273601769%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>