<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <link rel="icon" href="/image/myicon.png" type="image/x-icon"/>
    <link rel='stylesheet' type='text/css' href='/lib/bootstrap-4.0.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/index.css'>
    <script src='/lib/jquery-3.2.1.min.js'></script>
    <script src='/function/articles/local.js'></script>
    <script src='/lib/common.js'></script>
    <title>在学习中成长</title>
    <style>
        .special {
            padding-top: 0;
            padding-bottom: 10px;
        }

        @media (max-width: 575.98px) {
            .special {
                padding-top: 10px;
            }
        }
    </style>
    <script>
    </script>
</head>
<body>
<div class="a b c d" style="z-index: 12;">
    <div class="e f g h a i"></div>
    <div class="j f k h a l m"></div>
    <header class="n o p">
        <div class="q r s t u d">
            <h1 class="v w x y"><img src="/image/head.jpg" style="width: 45px; float: left;"> <span
                    class="v">在学习中成长</span></h1>
        </div>
    </header>
    <div class="ar q s u t n as at special">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary mr-1" id="article_type" onclick="show_article_list(this);">
                            列表
                        </button>
                        <button type="button" class="btn btn-secondary" onclick="top_page();">
                            首页
                        </button>
                    </div>
                    <hr>
                    <h3 class="text-dark mt-4" style="font-size: 16px; font-weight: bold;">
                        <!--<button type="button" class="btn btn-primary">-->
                        <!--点赞 <span class="badge badge-light" id="up">9</span>-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-secondary">-->
                        <!--差评 <span class="badge badge-light" id="down">9</span>-->
                        <!--</button>-->
                        <button type="button" class="btn btn-warning">
                            已读次数 <span class="badge badge-light disabled" id="viewcount"></span>
                        </button>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>