::-webkit-scrollbar {
    display: none;
}

.max_page_width {
    max-width: 800px;
}

.line_header_blank {
    text-indent:2em;
}

.middle_font_size {
    font-weight: bold;
    font-size: 25px;
}

.word_image {
    max-width: 350px;
}