<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    <ol>
        <!--使用组件-->
        <todo-item
                v-for="item in todoList"
                v-bind:todo="item"
        ></todo-item>
    </ol>

</div>
<div id="my">
    <ol>
        <my-test v-for="item in plist" :person="item"></my-test>
    </ol>
</div>
<script>
    Vue.component("my-test", {
        props: ['person'],
        template: '<li>Name: {{person.name}}, Sex: {{person.sex}}</li>'
    });
    new Vue({
        el: "#my",
        data: {
            plist: [{name: 'a', sex: 'm'}, {name: 'b', sex: 'f'}]
        }
    });
    //定义一个最简单的组件
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>name:{{todo.name}},age:{{todo.age}}</li>'
    });
    new Vue({
        el: '#app',
        data: {
            todoList: [{name: '张三', age: 23}, {name: '李四', age: 24}, {name: '王五', age: 25}]
        }
    });
</script>
</body>
</html>