.key {
    color: blue;
    border-bottom: 1px solid blue;
}

.explain {
    font-size: 14px;
    color: greenyellow;
}

.eg {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
}

.title {
    padding: 5px 10px;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 5px;
}

.content_status {
    margin-bottom: 20px;
}

rt {
    color: greenyellow;
}
