.word {
    background: no-repeat;
    background-size: 100% 100%;
    height: 120px;
    max-width: 300px;
    border-radius: 5px;
}

.default_bg_img {
    background-image: url(word_bg.png);
}

.word_panel {
    background: rgba(2, 2, 2, 0.5);
    border-radius: 5px;
}

.volume_btn {
    position: absolute;
    top: 5px;
    right:20px;
}

.detail_btn {
    position: absolute;
    top: 5px;
    right:0;
}

.word_explain {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}