key2 {
    color: yellow;
}

.explain {
    font-size: 14px;
    color: greenyellow;
}

.title {
    padding: 5px 10px;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 5px;
}

.content_status {
    margin-bottom: 20px;
}
